html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat';
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Montserrat';
}

h2, h3 {
  font-weight: 700;
}

p {
  font-size: 1rem;
  color: #8F8F8F;
}

/* Big heading */
.big-heading {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Container */
.container-fluid {
  padding: 7% 15%;
}

/* Sections */
.colored-section {
  background-color: #FF4C68;
  color: white;
}

.white-section {
  background-color: white;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.navbar-brand {
  font-size: 2.5rem;
  font-family: 'Ubuntu';
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat';
}

/* Title */
#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* Download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features */
#features {
  position: relative;
}

.feature-box {
  padding: 3%;
  margin-bottom: 2rem;
}

.feature-title {
  font-size: 1.5rem;
}

.icon {
  color: #EF8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #FF4C68;
}

/* Testimonials */
.colored-section#testimonials {
  background-color: #EF8172;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* Press */
.colored-section#press {
  background-color: #EF8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.price-plan-name {
  font-size: 1.5rem;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* Footer */
.footer-icon {
  margin: 3% 1%;
}

@media (max-width: 1080px) {

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  #title {
    text-align: center;
  }

  .title-image {
    transform: rotate(0);
    position: static;
  }
}
